<!doctype html>
<html>
	<head lang="ru">
		<title>LabWeb_3</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- vue js -->
		<script src="vue.js"></script>
		<!-- vue js axios -->
		<script src='axios-master/dist/axios.min.js'></script>
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- google font text -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
		<!-- icon -->
		<link rel=icon href=/favicon.ico>
		<!-- custom style -->
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
	
		<div id='myapp'>
			
			<header>
				<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
					<div class="navbar-brand">
					  	<img src="./assets/logo.svg" alt="" class="w-25 img-fluid">
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"  v-if="login">
					  	<span	span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" v-if="login">
						<div class="navbar-nav">
							<span class="nav-item nav-link" @click='changePage()'>{{namePage}}</span>
						</div>
					</div>
				</nav>
			</header>

			<main>
				
				<div class="container">
					<div v-if="!login">
						<button @click="instruction = !instruction" class="btn btn-info w-100 rounded-0">
							Посмтреть возможности сайта
						</button>
						<transition mode="out-in" name="slide-fade">
							<div v-if="instruction" class="text-info p-2 border-left border-right border-info">
								<p>Функции пользователя: </p>
								<ul>
									<li>загружать файл;</li>
									<li>настраивать доступ к файлу;</li>
									<li>просматривать список доступных файлов;</li>
									<li>удалить файл;</li>
									<li>скрыть/отобразить файл;</li>
									<li>фильтровать файлы;</li>
									<li>скачать файл.</li>
								</ul>
							</div>
						</transition> 
					</div>
					<div class="border border-top-0 border-info p-2 text-center" v-if="!login">
						<h2 class="h2 text-center pb-4">Почему мы?</h2>
						<div class="row elem-li m-4 pb-4">
							<div class="col-6" data-title="Удобнее только у it-гигантов">
								<p>Удобство</p>
								<img src="./assets/conv-ico.svg" alt="" class="w-25">
							</div>
							<div class="col-6" data-title="Данные шифруются">
								<p>Конфиденциальность</p>
								<img src="./assets/confid-ico.svg" alt="" class="w-25">
							</div>
						</div>
						<div class="row elem-li m-4">
							<div class="col-6" data-title="Полный контроль на своими файлами">
								<p>Надёжность</p>
								<img src="./assets/lock-ico.svg" alt="" class="w-25">
							</div>
							<div class="col-6" data-title="Функционал необходимый всем">
								<p>Актуальность</p>
								<img src="./assets/actual-ico.svg" alt="" class="w-25">
							</div>
						</div>
					</div>
					<div class="mt-4 text-center" v-if="!login">
						<transition mode="out-in" name="slide-fade">
							<button class="btn btn-primary" @click="uno_auth()" v-if="!formGroup">Войти</button>
							<form v-if="formGroup" class="mt-2">
								<div class="form-group">
									<label for="login">Login</label>
									<input type="text" class="form-control" id="login" aria-describedby="loginHelp" v-model="userLogin" autocomplete="off">
									<small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" v-model="userPassword" autocomplete="off">
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="registCheck" v-model="regist">
									<label class="form-check-label" for="registCheck">Зарегистрироваться</label>
								</div>
								<button type="button" class="btn btn-primary" @click="[auth(), getListFileByUser()]">Вход</button>
							  </form>
						</transition>
					</div>
				</div>

				<div class="container" v-if="!reversePage">
					<div class="pt-4 text-center" v-if="login">
						<transition mode="out-in" name="slide-fade">
							<button class="btn btn-success float-left" @click="uno_addFile()" v-if="!addFile">Добавить файл</button>
							<div v-if="addFile">
								<div class="c-both m-2">
									<button class="btn btn-outline-primary" @click="[uno_addFile(), getListFileByUser()]">Назад</button>
								</div>
								<div class="c-both m-2 form-group text-center">
									<label for="textMessage" class="float-left ml-4 font-weight-bold">Сообщение</label>
									<input type="text" id="textMessage" class="form-control" placeholder="Текст к загружаемому файлу" v-model="textMessage" autocomplete="off">
								</div>
								<div class="custom-file c-both m-2 p-2" v-if="textMessage">
									<input type="file" id="file" ref="file" v-if="textMessage" @change="handleFileUpload()" class="custom-file-input">
									<label for="file" v-if="textMessage" class="custom-file-label">Выберите файл для передачи</label>
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="privateCheck" v-model="status">
									<label class="form-check-label" for="privateCheck">Сделать приватным</label>
								</div>
								<div class="c-both m-2">
									<button class="btn btn-success" type="button" @click='uploadFile()' v-if="file">Отправить</button>
								</div>
							</div>
						</transition>
					</div>
					<button class="btn btn-light text-black font-ыweight-bold position-absolute exit-btn-location rounded-0" @click="reverseLogin()" v-if="login">Выйти из профиля</button>
				</div>

				<div class="container" v-if="!reversePage">
					<transition mode="out-in" name="slide-fade">
						<div v-if="login">
							<div class="c-both p-4"><hr class="border border-info"></div>
							<button class="btn btn-info m-4" @click="getListFileByUser()" v-if="!addFile">Обновить</button>
							<button class="btn btn-info m-4" @click="onChange()" v-if="!addFile" :disabled='isDisabledChange()'>Изменить</button>
							<button class="btn btn-info m-4" @click="onDelete()" v-if="!addFile" :disabled='isDisabledDelete()'>Удалить</button>
							<button class="btn btn-info m-4" @click="onFilter()" v-if="!addFile"> Сортировать по {{varFilter}}</button>
						</div>
					</transition>

					<div v-if="login">
						<transition mode="out-in" name="slide-fade">
							<div v-if="change">
								<div class="form-check">
									<label for="fileText">Текст к файлу</label>
									<input type="text" class="form-control" id="fileText" aria-describedby="textHelp" v-model="newText" autocomplete="off">
									<small id="loginHelp" class="form-text text-muted">После того, как впишите текст, выберите строку для изменения.</small>
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="changeS" v-model="newStatus">
									<label class="form-check-label" for="changeS">Сделать приватным</label>
								</div>
							</div>
						</transition>
						<transition mode="out-in" name="slide-fade">
							<div class="row custom-border" v-if="!addFile">
								<div class="col-4">Имя файла</div>
								<div class="col-4">Статус файла</div>
								<div class="col-4">Текст к файлу</div>
							</div>
						</transition>
						<transition-group mode="out-in" name="slide-fade">
							<div class="row custom-border" v-for="elem in filesList" :key="elem.id" v-if="!addFile" @click="[changeInfo(elem.id, elem.id_user, elem.name_file), deleteInfo(elem.id, elem.name_file)]">
								<div class="col-4">{{ elem.name_file }}</div>
								<div class="col-4">{{ elem.status_file }}</div>
								<div class="col-4">{{ elem.text }}</div>
							</div>
						</transition-group>
					</div>
				</div>

				<transition name="slide-fade">
					<div class="container p-4 custom-scroll" v-if="reversePage">
						<div class="w-100">
							<h1 class="h1">Пользователи на ресурсе:</h1>
						</div>
						<div class="w-100">
							<div class="custom-container">
								<div class="custom-card" v-for="user in users" :key="user.id" v-if="listProfile" @click="onProfile(user.id)">
									{{ user.login }}
								</div>
							</div>
						</div>
						<div class="row custom-border" v-for="el in filesAnyUser" :key="el.id" v-if="anotherUser" @click="loadFile(el.name_file, el.id_user)">
							<div class="col-4">{{ el.name_file }}</div>
							<div class="col-4">{{ el.status_file }}</div>
							<div class="col-4">{{ el.text }}</div>
						</div>
					</div>
				</transition>
			</main>
			
			<footer>
				<div class="text-center pt-2">
					<!-- GitHub URL: https://github.com/Fiasko99 -->
					<span class="font-weight-bold text-black">GitHub: </span>
					<a href="https://github.com/Fiasko99" target="_blank" data-title="Личный гитхаб автора" class="a-response"><img src="./assets/githubicon.svg" alt="ico" class="footer-icon"></a>
				</div>
			</footer>
		</div>

		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!-- ajax -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<!-- bootstrap js -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- custom js -->
		<script src="main.js"></script>
	</body>
</html>
